body {
    background-color: #151515;
    color: white;
    text-align: center;
}

span {
    color: thistle;
}

#info-poke {
    height: 200px;
}

.pokedex {
    height: 90vh;
}


.fila {
    margin-top: 20px;
    margin-left: 20px;;
    
}

.list-group-item {
    cursor: pointer;
}

img {
    width: 150px;
}

h1 {
    text-decoration: underline;
}